# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
KyleTutorialGitHub/Library/

KyleTutorialGitHub/bin/

UnityIsland/Library/

UnityIsland/Bin/

UnityIsland/Assembly-CSharp\.csproj\.user

Photon-OnPremise-Server-SDK_v4-0-29-11263/deploy/

Photon-OnPremise-Server-SDK_v4-0-29-11263/lib/

Photon-OnPremise-Server-SDK_v4-0-29-11263/src-server/Loadbalancing/lib/

Photon-OnPremise-Server-SDK_v4-0-29-11263/src-server/Plugins/lib/

Photon-OnPremise-Server-SDK_v4-0-29-11263/doc/

Photon-OnPremise-Server-SDK_v4-0-29-11263/src-server/Hive/PhotonHive/bin/

Photon-OnPremise-Server-SDK_v4-0-29-11263/src-server/HivePlugin/bin/

Photon-OnPremise-Server-SDK_v4-0-29-11263/src-server/Loadbalancing/LoadBalancing/bin/

Photon-OnPremise-Server-SDK_v4-0-29-11263/src-server/Loadbalancing/log/

*.dll

*.pdb


Photon-OnPremise-Server-SDK_v4-0-29-11263/src-server/Hive/PhotonHive\.NUnit/bin/Debug/

Photon-OnPremise-Server-SDK_v4-0-29-11263/src-server/Loadbalancing/Plugins/TestPlugins/bin/

Photon-OnPremise-Server-SDK_v4-0-29-11263/src-server/Loadbalancing/Stardust\.Client/bin/

Photon-OnPremise-Server-SDK_v4-0-29-11263/src-server/Photon\.Common/bin/Debug/

Photon-OnPremise-Server-SDK_v4-0-29-11263/src-server/Photon\.UnitTest\.Utils/bin/Debug/

Photon-OnPremise-Server-SDK_v4-0-29-11263/src-server/Plugins/TestPlugins/bin/

Photon-OnPremise-Server-SDK_v4-0-29-11263/src-server/Loadbalancing/Plugins/WebHooksPlugin1\.2/bin/

Photon-OnPremise-Server-SDK_v4-0-29-11263/src-server/Plugins/WebHooks1\.2/bin/

Photon-OnPremise-Server-SDK_v4-0-29-11263/cernyd@volny\.cz\.Photon-vX\.free\.100-ccu\.license
